@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@source "../index.html";
@source "./**/*.{vue,js,ts}";

@theme {
  --color-studio: #5f43b2;
  --color-dark: #010101;
  --color-peach: #fefdfd;
  --color-martinique: #3a3153;
  --color-pearl: #b1aebb;
}

@layer utilities {
  .text-outline-peach {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-peach);
  }
}

@layer utilities {
  .font-caveat {
    font-family: 'Caveat', cursive;
    font-optical-sizing: auto;
  }
}

.background-dots {
  background-image: radial-gradient(#00000033 50px);
  background-size: 20px 20px;
}
